body{
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

.carrusel{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.imagenes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.img{
  box-shadow: 576px;
  width: 1150px;
  border-radius: 15px;
  margin: 5px;
  object-fit: cover;
  filter: saturate(175%);
}

.texto{
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  transform: translate(0px);
  margin-bottom: 9px;
  backdrop-filter: blur(3px);
  background-color: rgba(63, 106, 138, 0.21);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.texto h3{
  text-shadow: 0px 0px 15px black;
  padding-top: 40px;
  color: bisque;
  font-weight: 300;
  font-size: 35px;
}

.texto p{
  align-items: center;
  padding: 20px;
  color: wheat;
  font-size: 0px;
  font-weight: 300;
}

.imagenes .texto{
  width: 600px;
  height: 100px;
  transition: 1s;
}

.imagenes:hover .texto{
  transition: height 1s, transform 1s, background-color 1s;
  transform: translateY(-25px);
  width: 1100px;
  height: 600px;
  background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p{
  transition: front-size 0s .2s linear;
  font-size: 23px;
  font-weight: 300;

  text-shadow: 0px 0px 10px #000000;
}

.puntos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.puntos p{
  font-size: 100px;
  font-size: 500;
  margin-top: -50px;
  color: black;
}

.puntos .bold{
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  color: #5E17EB;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    background-color: rgb(80, 64, 168);
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    gap: 1.1em;
}

header a i{
    color: beige;
    font-size: 3em;
    padding: 0.5em;
}

header nav ul li a{
    color: beige;
}

.acerca-imagen img{
    width: 300px; /* Establece un ancho específico en píxeles */
    height: auto; /* Mantiene la proporción original */
}

section.seccion-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/*menu*/
#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*MEDIA*/
@media (max-width: 768px) {
    header {
background-color: rgb(171, 131, 187);
    }
  
.acerca-de {
    text-align: center;
}
  
.acerca-imagen {
      margin-bottom: 40px;
    }

h2.fuente-acento {
    text-align: center;
}

.checkbtn {
    display: block; /* Muestra el botón de hamburguesa solo en pantallas más pequeñas */
}

#encabezado ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
}

#check:checked ~ ul {
    left: 0%;
    display: block;
}

#encabezado nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

#encabezado nav ul li a {
    font-size: 20px;    
}

#check:checked ~ .checkbtn {
    color: #2c3e50;
}
}

  /* ------------- Encabezado Contacto ------------- */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"],
    .form-row input[type="email"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  
  .form-row textarea {
      width: 250px;
    }

    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #76aeed;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      
      /* ------------- Para Pantallas de más de 700px ------------- */
      
      
      .form-row button {
          margin-left: 120px;
      }      
